html {
  position: relative;
  min-height: 100%;
}

#trailer {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: darkgray;
}

* {
  box-sizing: border-box;
}


body {
  background-image: url(../images/1lAdGBz.jpg);
  margin: 0;
}

.container {
  max-width: 900px;
  font-size: 1em;
  opacity: 1;
  margin: .5rem auto 0;
  padding-bottom: 75px;
}

li {
  list-style: none;
  
}

.movie {
  width: 4.5rem;
  height: 3rem;
  margin: 0 auto;
  display: inline-block;
} 

.reels {
  margin: 0 auto;
  text-align: center;
}

.header {
  width: 100%;
  text-align: center;
  font-family: 'Lobster';
  max-width: 1500px;
  padding: 3%;
}

/* .header:after {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  content:"";
  width: 50%;
  display: block;
  margin: 0 auto; */
  
/* } */

.header h1 {
  color: white;
  letter-spacing: 0.03em;
  font-size: 8rem;
  font-weight: 300;
}

.form-section { 
  margin: 3rem auto;
  text-align: center;
  width: 100%;
  font-family: 'lobster';
  /* font-size: 20pt;
  color: red;  */
}

.form-section label {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.56);
  padding-bottom: .25rem;
  margin-right: 1em;
} 

.listed-movie {
   margin: .5rem 1rem .75rem;
  display: block;
  
}

.theater-listing {
 display: inline-block;
  width: 45%;
  
}
.movie-title {
  font-family: 'lobster';
  background-color: wheat;
  font-size: 1.4rem;
  padding: 1%;
}

.movie-theater {
  font-family: 'lobster';
  font-size: 1.15rem;
}

.movie-time {
  display: inline-block;
  font-family: 'lobster';
  color: rgba(64, 84, 77, 0.79);
  font-size: 0.95rem;
  margin-right: .75em;
}

.how-many {
  text-align: center;
  font-family: 'lobster';
  color: grey;
  font-size: 1.3rem; 
}

/*****MEDIA QUERIES *****/
@media only screen and (max-width: 600px) {
   
  .container {
    margin: .75rem auto 0;
    background: transparent;
    border-radius: 0;
    padding-bottom: 75px;
  }

  .form-section label {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.56);
    padding-bottom: .25rem;
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  .form-section #search {
    display: inline-block;
    margin: 1rem auto 0;
  }
  
  .form-section #submit {
    display: inline-block;
  }
  

  
  .listings {
    position: relative;
    left: -20px;
  }
  
  .listed-movie {
    margin: 1rem 1rem .5rem 0;
    width: 100%;
}
  
 .how-many {
  font-size: 1rem;
  margin-bottom: 2rem; 
  }
  
  .theater-listing {
    display: inline-block;
    width: 100%;
    margin: 0 .25rem .25rem 0; 
  }
}

p {
  text-align: center;
  font-weight: bold;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  height: 50%; /* Full height */
  margin: auto;
  width: 35%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  left: 0%;
  top: 0%;
  height: 45%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

iframe {
  height: 300px;
  width: 400px;
}

  /* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}